<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Instruments</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/instruments">Home</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Instrument
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a *ngIf="authService.isAdmin()" class="dropdown-item" href="/add-instrument">Ajouter</a></li>
            <li><a class="dropdown-item" href="/instruments">Lister</a></li>
            <li>      <a class="dropdown-item" routerLink="/rechercheParCategorie" >Recherche Par Catégorie</a></li>
            <li><hr class="dropdown-divider"></li>
           
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/typeInstruments" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Type Instrument
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a *ngIf="authService.isAdmin()" class="dropdown-item" href="/add-typeInstrument">Ajouter</a></li>
            <li><a class="dropdown-item" href="/typeInstruments">Lister</a></li>
            <li><hr class="dropdown-divider"></li>
            
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li> <a class="nav-link">{{authService.loggedUser}}</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
       Connexion
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a *ngIf="!authService.isloggedIn"  class="dropdown-item"  routerLink = "login">Login</a></li>
          <li><a *ngIf="authService.isloggedIn" class="dropdown-item" (click) = "onLogout()">Logout</a></li>
          <li><a class="dropdown-item" routerLink="#" >Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      </ul>
     
    </div>
  </div>
</nav>
<router-outlet></router-outlet>