<div class="container">
    <div>
    <h2>Modifier Le Type d'Instrument :</h2>
    </div>
    <form >
    <div  class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Type</label>
    <input readonly type="number" [(ngModel)]="currentTypeInstrument.idType"
    name="idType" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Type</label>
    <input type="text"[(ngModel)]= "currentTypeInstrument.nomType"
    name="nomType" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [ngModel]="currentTypeInstrument.dateCreation | date: 'yyyy-MM-dd'" (ngModelChange)=" currentTypeInstrument.dateCreation= $event" name="dateCreation" class="form-control">
        </div>
   
    <div class="mt-2">
    <button type="submit" (click)="updateTypeInstrument()" class="btn btn-success">Modifer</button>
    </div>
    </form>
    </div>    