<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-striped">
            <tr> <th>Id</th><th>Nom</th> <th>Prix</th><th>Type</th>  </tr>
            <tbody *ngFor="let instrument of instruments">
            <tr >
            <td>{{instrument.idInstrument}}</td>
            <td>{{instrument.nomInstrument}}</td>
            <td>{{instrument.prixInstrument}}</td>
            <td>{{instrument.typeInstrument.nomType}}</td>
            <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerInstrument(instrument)">Supprimer</a></td>
            <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateInstrument',instrument.idInstrument]">Modifier</a></td>

            </tr>
            </tbody>
            </table>
    </div>
    </div>
</div>